{
  "country_code":"<!--# echo var="geoip2_country_code" default="NULL" -->",
  "country_name":"<!--# echo var="geoip2_country_name" default="NULL" -->",
  "region":"<!--# echo var="geoip2_state_name" default="NULL" -->",
  "city":"<!--# echo var="geoip2_city_name" default="NULL" -->",
  "continent_code":"<!--# echo var="geoip2_continent_code" default="NULL" -->",
  "latitude":"<!--# echo var="geoip2_lat" default="NULL" -->",
  "longitude":"<!--# echo var="geoip2_long" default="NULL" -->"
}
